{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "import/prefer-default-export": "warn",
    "object-curly-newline": ["error", {
      "minProperties": 6,
      "consistent": true
    }],
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "warn",
    "react/require-default-props": "warn",
    "class-methods-use-this": "warn"
  }
}